/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*New css start here */

header .uabb-offcanvas-icon {
  filter: drop-shadow(0px 4px 6px black) !important;
}

body
  .gform_wrapper
  .top_label
  div.ginput_container.ginput_container_time.below {
  margin-top: -2px !important;
}

.fl-builder-content a.hover-col-change:hover {
  color: #000 !important;
}

.hover-effect .uabb-infobox-text-wrap:hover * {
  color: #000 !important;
}
#rmp_menu_trigger-1163634 {
  background: #000000 !important;
}
.pdpPage .flyer-sec .header-location-info-section *,
.pdpPage .header-location-info-section i,
.blog .flyer-sec .header-location-info-section *,
.blog .header-location-info-section i {
  color: #000 !important;
}

.ginput_container_time.below select {
  max-height: 55px;
  margin-top: -10px !important;
}

.bannerTil .fl-module .uabb-infobox-title {
  line-height: 1.2 !important;
}

.flyerSearch input[type="search"] {
  background-color: #ecebeb;
  border: none !important;
  border-bottom: 2px solid #000 !important;
  border-radius: 0px;
  padding: 18px 10px;
  outline: none !important;
}

.flyer-sec .header-location-info-section {
  width: 100%;
  align-items: end;
  justify-content: flex-end;
}

.HeaderFlyer .social-icons li a i {
  color: #cc252a !important;
}

.uabb-offcanvas-close-icon-wrapper.uabb-offcanvas-close-icon-position-right-top {
  right: auto;
  left: 0;
}

.bw {
  border: 2px solid #fff !important;
  transition: all 0.6s;
}

.bw:hover {
  border: 2px solid #0f0d0b !important;
}

.bwr {
  border: 2px solid #fff !important;
  transition: all 0.6s;
}

.bwr:hover {
  border: 2px solid #bb1910 !important;
}

.bwb {
  border: 2px solid #0f0d0b !important;
  transition: all 0.6s;
}

.bwb:hover {
  border: 2px solid #bb1910 !important;
}

.CTA_row .uabb-text-editor > p,
.CTA_row .uabb-text-editor .storename {
  margin: 0px !important;
  padding: 0px !important;
}

.fl-slide .fl-slide-content > .fl-slide-title {
  margin: 0px !important;
}

footer .social-icons li a i {
  color: #fff !important;
}

footer .social-icons li a:hover i {
  color: #efefef !important;
}

.HeaderFlyer .fa-facebook {
  color: #1877f2 !important;
}

.HeaderFlyer .fa-instagramk {
  color: #c32aa3 !important;
}

.HeaderFlyer .fa-pinterest {
  color: #bd081c !important;
}

.HeaderFlyer .fa-linkedin {
  color: #0a66c2 !important;
}

.HeaderFlyer .fa-houzz {
  color: #4dbc15 !important;
}

.HeaderFlyer .fa-twitter {
  color: #1da1f2 !important;
}

.bannerTil .fl-row-content-wrap {
  position: relative;
}

.bannerTil .fl-row-content-wrap:before {
  content: "";
  height: 100% !important;
  position: absolute;
  width: 75%;
  left: -10%;
  top: 0;
  transform: skewX(20deg);
  background-color: rgba(255, 255, 255, 0.8);
}

.bannerTilTwo .fl-row-content-wrap:before {
  content: "";
  height: 100% !important;
  position: absolute;
  width: 70%;
  right: -10%;
  top: 0;
  left: auto;
  transform: skewX(20deg);
  background-color: rgba(255, 255, 255, 0.8);
}

.brandSlider .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandSlider .slick-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loc_add ul.storename,
.loc_phone ul.storename {
  display: inline-flex;
}

.loc_add ul.storename p {
  margin-bottom: 0px !important;
}

ul.store-opening-hrs li {
  margin: 0px;
  position: relative;
}

.col-lg-8 .fl-post-image-beside-wrap .fl-post-image-beside {
  width: 100% !important;
}

/* ul.store-opening-hrs li span {
  position: absolute;
  right: auto !important;
  left: 150px !important;
} */
ul.store-opening-hrs > li {
  max-width: 300px;
  width: 100%;
}
ul.store-opening-hrs > li span {
  float: right;
}

.gm-style ul.store-opening-hrs li span {
  left: 80px !important;
}

button#responsive-menu-button {
  background: transparent !important;
}

button#responsive-menu-button:hover {
  background: transparent !important;
}

.responsive-menu-inner,
.responsive-menu-inner::before,
.responsive-menu-inner::after {
  width: 35px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  margin: -6px 0px;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#responsive-menu-button {
  filter: drop-shadow(0px 4px 6px black) !important;
}

#responsive-menu * {
  border: none !important;
  outline: none !important;
  background-color: #ecebeb !important;
}

#responsive-menu a {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

#responsive-menu-container li.responsive-menu-item a .responsive-menu-subarrow {
  position: static !important;
}

#responsive-menu-container
  #responsive-menu
  ul.responsive-menu-submenu
  li.responsive-menu-item
  a
  .responsive-menu-subarrow,
#responsive-menu-container
  #responsive-menu
  li.responsive-menu-item
  a
  .responsive-menu-subarrow {
  border-left: none !important;
}

.responsive-menu-inner,
.responsive-menu-inner::before,
.responsive-menu-inner::after {
  width: 35px !important;
  height: 5px !important;
  background-color: #ffffff;
  border-radius: 0px !important;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

button#responsive-menu-button {
  top: 45px !important;
  right: 4% !important;
}

#responsive-menu-additional-content .social-icons li {
  margin: 10px 4px !important;
}

#responsive-menu-search-box input[type="search"] {
  background-color: #ecebeb;
  border: none !important;
  border-bottom: 2px solid #000 !important;
  border-radius: 0px;
  padding: 18px 10px;
  outline: none !important;
}

button#responsive-menu-button {
  z-index: 999 !important;
}

#responsive-menu-wrapper {
  padding: 80px 20px !important;
}

body.post-template-default header.fl-builder-content {
  background: #00000040;
}
footer .fl-icon-text > p {
  margin-bottom: 0px;
}
div#podium-website-widget iframe {
  bottom: 45px !important;
}

.gfield_captcha_input_container.math_large input {
  width: 90px;
  max-width: 90px;
}

.moove-gdpr-button-holder > button.mgbutton  {
  background-color: #BF1723!important;
  color: #fff!important;
  border-radius: 0px!important;
  font-family:  "Open Sans",sans-serif!important;
  font-weight: 600!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: 1px solid #fff!important;   
}

.moove-gdpr-button-holder > button.mgbutton:hover  {
  background-color: #fff!important;
  color: #000!important;
  border-radius: 0px!important;
  font-weight: 600!important;
  text-transform: uppercase!important;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #BF1723;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover, 
button.moove-gdpr-infobar-close-btn:hover i {
 color: #000!important; 
}

/* Pop up CSS */
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #BF1723;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #BF1723;
  border: 1px solid #BF1723;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover, #moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #000;
}
.moove-gdpr-modal-footer-content .moove-gdpr-button-holder button {
  border: 1px solid #BF1723!important;
}
@media (max-width: 1367px) {
  .product-offer-row h3.uabb-new-ib-title {
    font-size: 25px;
  }
}

@media (max-width: 1281px) {
  .product-offer-row h3.uabb-new-ib-title {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .bannerTil .fl-row-content-wrap:before {
    content: "";
    height: 100% !important;
    position: absolute;
    width: 70%;
    left: -15%;
    top: 0;
    transform: skewX(20deg);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .bannerTilTwo .fl-row-content-wrap:before {
    content: "";
    height: 100% !important;
    position: absolute;
    width: 75%;
    right: -15%;
    top: 0;
    left: auto;
    transform: skewX(20deg);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .product-offer-row h3.uabb-new-ib-title {
    font-size: 14px;
  }
  .iPad-land-w100 {
    width: 100% !important;
  }
  .iPad-land-font .uabb-infobox {
    padding: 80px 20px;
  }
  .iPad-land-font-mang .uabb-new-ib-desc {
    padding: 45px 10px;
  }
  .timeline-section h3.bb-timline-title {
    font-size: 15px;
  }
  .iPad-land-center ul.store-opening-hrs li span {
    position: relative;
    right: auto !important;
    left: auto !important;
  }
}
@media (max-width: 992px) {
  .fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-sticky) {
    position: relative !important;
  }
  .location-top .fl-module.fl-module-icon  {
      text-align: center;
  }
  button.rmp_menu_trigger {
    right: 0 !important;
  }
  html body .location-top .fl-module-content .fl-rich-text ul.storename .store-opening-hrs-container ul.store-opening-hrs, 
  html body .location-top .fl-module-content .fl-rich-text ul.storename *{
      text-align: left!important;
  }
  html body .location-top .fl-html > div {
      margin: 0 auto!important;
  }
  ul.store-opening-hrs > li {
      max-width: 240px;
      width: 100%;
      margin: 0 auto!important;
  }
}

@media (max-width: 992px) {
  .bannerTil h1,
  .bannerTil h5 {
    font-size: 30px !important;
    color: #fff !important;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 80%);
  }
  .toggleNavSlide .responsive-menu-inner::after {
    bottom: 3px !important;
    transform: rotate(-270deg) !important;
    background: #000 !important;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 50%;
  }
  .bannerTil h1 {
    font-size: 40px !important;
  }
  .post-1113303 .bannerTil h1 {
    font-size: 80px !important;
  }
  .fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-sticky) {
    position: relative !important;
  }
  .responsive-menu-inner,
  .responsive-menu-inner::before,
  .responsive-menu-inner::after {
    background-color: #000 !important;
  }
  footer .fl-col-small {
    width: 100% !important;
  }
  .bannerTil .fl-row-content-wrap:before {
    content: "";
    display: none !important;
  }
  .bannerTilTwo .fl-row-content-wrap:before {
    content: "";
    height: 100% !important;
    position: absolute;
    width: 100%;
    right: 0%;
    top: 0;
    left: auto;
    transform: skewX(0deg);
    background-color: rgba(255, 255, 255, 0.8);
  }
  /* 	#responsive-menu-container {
		width: 40% !important;
	} */
  .iPad-land-center ul.store-opening-hrs {
    max-width: 100%;
    margin: 0 auto;
  }
}

/*New css end here */

header#djcustom-header {
  position: absolute;
  z-index: 99;
  top: 45px;
  left: 0;
  right: 0;
}

.uabb-tab-current .uabb-tab-link,
.uabb-tab-current,
.uabb-tab-current h4 {
  border: none !important;
  outline: none !important;
}

.uabb-tab-link:focus {
  border: none !important;
}

.custom_searchHeader .fl-icon:hover {
  cursor: pointer !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: 15px !important;
}

.gform_wrapper .top_label input.medium.datepicker {
  max-width: 100% !important;
}

.homeSlider .fl-slide.fl-slide-0 .fl-slide-photo {
  margin-top: 200px !important;
}

.gform_wrapper .gfield .ginput_container select {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.topBar .storename,
.topBar p {
  margin-bottom: 0px !important;
}

.topBar .storename .phone a > span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

.fixed-header-top-bar .fl-row-content-wrap,
.fixed-header .fl-row-content-wrap {
  background: transparent !important;
}

.sticky-header {
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s;
}
@media (min-width: 769px) {
  .fl-archive > .row > .col-lg-8,
  .fl-archive > .row > .fl-sidebar.col-md-4,
  .fl-page-content > .container > .row > .col-lg-8,
  .fl-page-content > .container > .row > .fl-sidebar.col-md-4 {
    padding-top: 180px !important;
  }
}

#breadcrumbs > .container {
  width: 100%;
  /* max-width: 1100px!important; */
}

.social-icons a:hover i {
  color: #000 !important;
}

#breadcrumbs {
  z-index: 20;
  background: transparent !important;
}

@media (min-width: 992px) {
  #breadcrumbs {
    position: absolute;
    top: 150px;
    z-index: 20;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  /* .fl-page-content .container .row > .col-lg-8, .fl-page-content .container .row > .col-md-8, .fl-page-content .container .row > .col-md-4, .fl-page-content .container .row > .col-md-8{
	padding-top: 140px!important;
} */
  .sticky-header.sticky-header-active {
    height: auto !important;
    overflow: visible !important;
    width: 100% !important;
  }
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 25px;
}

.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  background: #c9c1b4;
}

.headerMain .fl-col-group {
  display: flex;
  justify-content: space-between;
}

.fullWidthBanner img {
  width: 100%;
}

.fl-node-5c75183d2d713 .fl-slide-1 .fl-slide-content {
  margin-top: 0px;
}

.phone > a {
  font-weight: 400;
  color: #68bfd8;
}

.iscwp-gallery-slider .slick-dots li button {
  border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
  background: #949494;
}

.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content-wrap {
  width: 100% !important;
}

.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text {
  font-size: 25px;
}

.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content {
  padding-top: 180px;
}

.fl-slide-2 .fl-slide-content-wrap .fl-slide-text {
  background: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  padding: 10px;
}

.fl-slide-2 .fl-slide-content-wrap .fl-slide-text p {
  color: #fff !important;
}

.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text * {
  color: #000 !important;
}

.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text .fl-button span {
  color: #fff !important;
}

.fl-node-5c75183d2d713 .fl-slide-4 .fl-slide-photo-wrap .fl-slide-photo {
  margin-bottom: 0px !important;
}

.fl-node-5c75183d2d713 .fl-slide-foreground {
  display: flex;
  flex-direction: column-reverse;
}

.fl-theme-builder-header-shrink .custom_searchModule .fl-module-content {
  padding: 20px 0px !important;
}

.moove-gdpr-button-holder .mgbutton {
  background-color: #bb1910 !important;
}

.moove-gdpr-button-holder .mgbutton:hover {
  color: #000 !important;
}

.row .product .product-detail-layout-5 {
  padding-top: 180px !important;
}

.product-box > .row > .col-md-6 > h1 {
  font-size: 18px !important;
}

.product-detail-layout-6 .product-box h2 {
  font-size: 20px !important;
  margin-top: 10px;
}

.search-row {
  padding-top: 180px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.search-row .plp-view-product {
  color: #fff !important;
  background-color: #2e9bb4 !important;
  font-family: "Montserrat", sans-serif !important;
  display: block !important;
  padding: 12px 24px !important;
}

.gfield_time_ampm > select {
  max-width: 60px !important;
}

.gform_wrapper .gfield_time_ampm select {
  min-width: 80px !important;
  width: 80px !important;
}

@media (min-width: 1024.5px) {
  .headerMenu .uabb-menu-toggle {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    padding: 5px 20px;
    max-width: 600px !important;
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .row .product .product-detail-layout-5 {
    padding-top: 220px !important;
  }
  .topBar * {
    font-size: 14px !important;
  }
  /* #breadcrumbs {
    position: absolute;
    top: 190px;
    z-index: 10;
    width: 100%;
} */
  .fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text {
    font-size: 15px;
  }
  .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu > li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .headerMain .headerRightNav {
    margin-left: 30px;
  }
  .fl-node-5d08ac826d1d6
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
    padding: 10px 8px !important;
  }
  button#responsive-menu-button {
    top: 30px !important;
    right: 4% !important;
  }
  .iPad-land-font-size h3.uabb-infobox-title {
    font-size: 38px;
  }
  .iPad-land-reduced-width ul.store-opening-hrs {
    max-width: 100% !important;
    margin: 0;
  }
  .iPad-land-reduced-width .store-opening-hrs-container ul li {
    display: block;
    justify-content: unset;
    margin: 0;
    list-style: none;
  }
}

@media (max-width: 991px) {
  .style-list .back-button {
    z-index: 15 !important;
  }
}

@media (min-width: 992px) {
  ul#input_27_7,
  ul#input_27_15,
  ul#input_27_16,
  ul#input_27_17,
  ul#input_27_18 {
    display: flex;
  }
}

@media (max-width: 992px) {
  .homeSlider .fl-slide.fl-slide-0 .fl-slide-mobile-photo {
    margin-top: 100px !important;
  }
  .homeSlider .fl-slide.fl-slide-1 .fl-slide-content {
    padding: 0px !important;
  }
  /*     #breadcrumbs {
        top: 150px;
        position: absolute;
        left: 0;
        right: 0;
    } */
  .uabb-creative-menu.off-canvas ul.menu > li > a,
  .uabb-creative-menu.off-canvas ul.menu > li > div > a {
    text-align: left !important;
  }
  .uabb-creative-menu.off-canvas ul.menu > li > .sub-menu a {
    text-align: left !important;
  }
  .post-349396 .infobox-responsive-left * {
    text-align: center !important;
  }
  ul.store-opening-hrs {
    max-width: 300px;
    margin: 0 auto;
  }

  .custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    padding: 5px 20px;
    max-width: 100% !important;
    width: 100% !important;
  }
  .searchIcon {
    position: static;
  }
  button#responsive-menu-button {
    top: 40px !important;
    z-index: 9999 !important;
  }
  .headerMain .fl-col-group {
    display: flex;
    align-items: center;
  }
  .headerMain .headerRightNav {
    margin: 0;
  }
  .headerMain .headerLogo {
    flex: 2;
  }
  .headerMain .phone.retailer {
    font-size: 26px;
    color: #42291d;
    margin-right: 30px;
    vertical-align: middle;
    font-family: "Ultimate-Icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .headerMain .phone.retailer:before {
    content: "\ea3e";
  }
  .headerMain .phone.retailer span {
    font-size: 0;
  }
  .iPadFooter .fl-col-group {
    display: flex;
    flex-direction: column !important;
  }
  footer * {
    text-align: center !important;
  }
  .iPadFooter .fl-col-group .fl-col {
    flex: 1;
  }
  .max-width-issue {
    /*max-width: 400px !important;
        margin: 20px auto !important;*/
    max-width: 100% !important;
    margin: 20px auto 0 !important;
  }
  .uabb-new-ib-title.uabb-simplify {
    font-size: 30px !important;
  }
  ul#menu-copyright-bar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
    flex: 3;
  }
  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
    flex: 1;
  }
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 33.33%;
  }
  .galleryImages .uabb-photo-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
  .gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
    margin-top: 2px !important;
  }
  .gform_wrapper.gf_browser_safari .gfield_checkbox li input,
  .gform_wrapper.gf_browser_safari .gfield_checkbox li input[type="checkbox"],
  .gform_wrapper.gf_browser_safari .gfield_radio li input[type="radio"] {
    margin-top: 0px !important;
  }
}

@media (max-width: 767px) {
  .store-opening-hrs {
    margin-right: 0px !important;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 100%;
  }
  .highlightPoits .fl-col-group .fl-col {
    width: 100% !important;
  }
  .highlightPoits .fl-col-group .fl-col .fl-col-content {
    border: 0;
  }
  .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text > p {
    margin-bottom: 0;
  }
  .iPad-land-center ul.store-opening-hrs {
    /* max-width: 270px;
        margin: 0 auto; */
  }
}

@media (min-width: 480px) {
  .gfield {
    padding-right: 15px !important;
  }
}

@media (max-width: 480px) {
  /*     #breadcrumbs {
        top: 130px;
        z-index: 4;
    } */
  .gform_wrapper .gfield_checkbox li input,
  .gform_wrapper .gfield_checkbox li input[type="checkbox"] {
    vertical-align: top !important;
  }
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
  }
  .location-top .fl-button {
    text-align: unset;
  }
  .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
    right: 20px;
  }
  .fl-node-5d1f5d4b47fe6 [dir="rtl"] div.uabb-image-carousel .slick-prev {
    left: 20px;
  }
  .iPadFooter .fl-col-group {
    flex-direction: column;
  }
  .iPadFooter .fl-col-group .fl-col {
    flex: 2;
    width: 100% !important;
    text-align: center;
  }
  ul#menu-copyright-bar-menu {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  /* 	.fl-col-small:not(.fl-col-small-full-width) {
		max-width: 100% !important;
	} */
}

/* flyer and header icon css open here .... */

.location-info-section {
  margin: 20px;
  text-align: left;
  border-bottom: 1px solid #d5d5d6;
  padding-bottom: 20px;
}

.location-info-section .location-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
}

.location-info-section .store-add {
  margin: 0 0 10px;
  padding: 0;
  color: #181e2b;
  font-weight: 400;
  font-size: 16px;
}

.location-info-section .store-phone {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  border-bottom: 1px solid #d5d5d6;
  padding-bottom: 10px;
}

.location-info-section .store-phone:hover {
  color: #000;
}

.store-hour-section {
  margin-bottom: 10px;
}

.location-info-section .store-hour .label {
  color: #181e2b;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.location-info-section .store-hour {
  color: #181e2b;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.location-info-section ul.storename .direction a,
.location-info-section .fl-button-link,
.location-info-section a.store-cta-link.choose_location {
  background: none;
  border: 0;
  color: #000 !important;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 7px;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  display: block !important;
  text-transform: uppercase;
}

.location-info-section .fl-button-link:hover,
.location-info-section a.store-cta-link.choose_location:hover,
.location-info-section ul.storename .direction a:hover span {
  text-decoration: underline;
  color: #000 !important;
}

.location-info-section ul.storename .direction a span {
  color: #000 !important;
}

.location-info-section ul.storename .direction a:hover {
  background: none;
}

.header-location-info-section {
  display: flex;
  border-right: solid 2px #fff;
  padding: 12px 24px;
}

.header-location-info-section i {
  font-size: 40px;
  margin-right: 8px;
  font-family: "Ultimate-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff !important;
}

.header-location-info-section i:before {
  content: "\e9a3";
}

.header-location-info-section .location-name {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  color: #fff;
  margin: 0 0 5px;
}

.header-location-info-section .fl-button-link {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 2px;
  text-align: left;
  vertical-align: middle;
  display: block;
}

.store-hour-section .label {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* flyer and header icon css open here .... */

@media (max-width: 500px) {
  header .uabb-photo-content img {
    width: 200px !important;
  }
  .responsive-menu-inner,
  .responsive-menu-inner::before,
  .responsive-menu-inner::after {
    margin: -3px 0px !important;
  }
  button#responsive-menu-button {
    top: 28px !important;
  }
  .fl-bg-slideshow ~ div .infobox-responsive-center .uabb-infobox-title {
    font-size: 47px !important;
  }
  .uabb-gf-style form .gform_body .gfield_label {
    font-size: 14px;
  }
  div#logo {
    width: 70% !important;
  }
  div#header_menu_button {
    width: 30% !important;
  }
  button.rmp_menu_trigger.is-active {
    transform: translateX(-272.15px) !important;
  }

  .custombanneralert {
    font-size: 16px !important;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .infobox-responsive-center {
    padding: 20px !important;
  }
}

@media (max-width: 820px) {
  .fl-node-605d77c712105 .uabb-infobox {
    padding: 20px 40px;
  }
  .fl-module.fl-module-rich-text.fl-node-60e6a10ad9844 {
    width: auto !important;
  }
}

@media (max-width: 992px) {
  .fl-col-small:not(.fl-col-small-full-width) {
    max-width: 100%;
  }
  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }
  .facet_filters .fl-html {
    text-align: left;
  }
  /* PLP Page Css iPad Air */

  .bannerTil > .fl-row-content-wrap,
  .fl-row.fl-row-full-width.fl-row-bg-photo.fl-row-custom-height.fl-row-align-center.fl-row-bg-overlay.bannerTil
    > .fl-row-content-wrap {
    min-height: 400px;
    padding: 20px 0 !important;
  }

  ul,
  ol {
    padding-left: 20px;
    margin: 0;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content
    .fl-module-content
    .uabb-infobox-text.uabb-text-editor
    ul.storename,
  .fl-page-content
    .fl-module-content
    .uabb-infobox-text.uabb-text-editor
    ul.storename
    *,
  .fl-page-content .fl-module-content ul.storename *,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html,
  .fl-page-content .uabb-module-content.uabb-separator-parent {
    text-align: center !important;
  }
  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
    padding-left: 20px;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text ul.storename *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .facet_filters * {
    text-align: left !important;
  }
  .fl-page-content
    .uabb-module-content.uabb-infobox.infobox-left.infobox-has-photo.infobox-photo-left-title
    .left-title-image {
    display: inline-block;
  }
  .CTA_row
    .fl-row-content-wrap
    .fl-col-group:last-child
    .uabb-infobox-left-right-wrap {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .container .row .product-detail-layout-6 {
    padding-top: 100px !important;
  }
}

@media (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
}

#breadcrumbs > .container {
  width: 100%;
  max-width: 1400px;
}

.mob-text-location h2.location-name.header_location_name {
  color: #000;
}
.mob-text-location .header-location-info-section i {
  color: #000;
}
.mob-text-location .header-location-info-section .location-name {
  colorf: #000;
}
.mob-text-location a.fl-button-link.locationSelector.uabb-offcanvas-trigger {
  color: #000;
}
.mob-text-location
  i.uabb-button-icon.uabb-marketing-button-icon.all_before.ua-icon.ua-icon-location {
  color: #000 !important;
}
.mob-text-location .header-location-info-section {
  border: 0px;
}

div#offcanvas-60e52f16b7fd6 {
  z-index: 999999;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #000;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #000;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.facetwp-selections ul li {
  width: 100%;
  display: block;
  margin: 5px 0;
}
.facetwp-selections ul li .facetwp-selection-value {
  font-size: 16px;
  color: #000;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

body.page-id-1167787 .fl-page-content .fl-content-full.container {
    margin-top: 190px;
}